:root {
    --background-tips: #292929;
    --background-box-main: #121212;
    --background-button: #fff;
    --background-section-playlist: #242424;
    --letter-color: #b3b3b3;
    --letter-font-family: "DM Sans", sans-serif;
    --letter-color-black: #000; 
    --letter-color-white: #fff;
}