body {
    background-color: #000;
}

/* Cima Direita Baixo Esquerda */

/* SideBar */

.sidebar, .library{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.library {
    padding-top: 180px;
}

.sidebar_navigation, .library_navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}


.sidebar_navigation .logo {
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar_navigation .logo img {
    width: 80px;
}

.sidebar nav ul, .library_navigation ul{
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.library nav ul {
    margin-top: 0;
    padding-bottom: initial;
}

.sidebar ul li, .library ul li{
    padding: 10px 0;
}

.sidebar nav ul li a, .library nav ul li a{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}

/* Nav Library */

#fa-plus {
    padding: 0 0 0 110px ;
}

.create-playlist, .explore-podcast {
    border-radius: 10px;
    background-color: #292929;
    padding: 20px;
    margin: 10px 0 0 0;
}

.create-playlist p, h1, .explore-podcast p, h1 {
    padding: 10px 0 0 0;
    color: #ffff;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
}

.create-playlist p , .explore-podcast p{
    font-weight: 500;
    font-size: small;
}

.create-playlist button , .explore-podcast button, .language{
    padding: 5px 12px 5px 12px;
    background-color: #ffff;
    border-radius: 15px;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
    font-size: small;
    border: none;
}

.create-playlist div, .explore-podcast div {
    padding: 14px 0 0 0;
}

.language {
    background-color: #121212;
    color: #b3b3b3;
    padding: 28px;
}

.language span {
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 20px;
    font-weight: 800;
    font-size: 10px;
}
